body {
  margin: 0;
}
header {
  background-color: #000000;
  padding: 15px;
}
header ul {
  float: right;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
header li {
  display: inline-block;
  padding: 0px 10px;
}
header p {
  display: inline-block;
}
.heroImg {
  background-color: #EBEBEB;
  padding: 100px 15px;
}
.content {
  max-width: 300px;
  margin: 0 auto;
  padding: 50px;
  background-color: #FFFFFF;
  text-align: left;
}
.content img{
  width: auto;
  height: 150px;
  float: left;
  margin-right: 15px;
}
button {
  padding: 15px;
  background-color: #373738;
  color: white;
  font-size: 15px;
  border-radius: 4px;
}
footer {
  background-color: #000000;
  padding: 5px;
  color: white;
}
footer ul {
  list-style: none;
  padding-left: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
footer li {
  display: inline-block;
  padding: 0px 7px;
}
